/* Default heme styles */

:root {
  --default-theme-background-color: #ecfbfcd3;
  --default-theme-text-color: #ecfbfcd3;
  --default-theme-accent-color: #4ade80;
  --default-theme-accent-glow: #9be3ad;
}

.button-default {
  color: var(--default-theme-text-color);
  text-decoration: none;
  padding: 0.4rem 1rem;
  border: 2px solid var(--default-theme-accent-glow);

  /* Button neon glow effect */
  /* box-shadow:
    inset -7px 2px 5px var(--default-theme-accent-glow),
    5px -5px 0 var(--default-theme-accent-color); */

  text-shadow:
    0 0 5px var(--default-theme-accent-glow),
    0 0 15px var(--default-theme-accent-color);
}
