/* Card Styles */

.card__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
  gap: 1rem;
}

.card__content {
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.card__image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  /* border-radius: 15px; */
}

.card__title {
  font-size: 1.6rem;
  margin: 0;
}

.card__description {
  flex-grow: 1;
  margin: 0;
}

.card__links-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.card__link {
  text-align: center;
  color: aquamarine;
  text-decoration: none;
  padding: 0.4rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 25px;
}
