/* Header Styles */

.header {
  width: 100%;
  height: fit-content;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* to #818CF8; */
}

/* Navigation */

.nav__list {
  display: flex;
  list-style-type: none;
  padding: 16px;
  justify-content: space-around;

  li {
    padding: 8px;
  }
}
