/* Header Styles */

.header {
  width: 100%;
  height: fit-content;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  /* to #818CF8; */
}

/* Navigation */

.nav__list {
  display: flex;
  list-style-type: none;
  padding: var(--space-md);
  justify-content: space-around;

  li {
    padding: var(--space-sm);
  }
}
