/* Global Styles */
:root {
  /* Color Variables */

  --primary-color: #95f0ea;
  --secondary-color: #67e8f9;
  --background-color: #0f172a;

  /* Font Variables */

  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--primary-color);
  height: 100vh;
  font-family: var(--font-family);
}
