/* =========================================
   1. GLOBAL VARIABLES & RESET
   ========================================= */

:root {
  /* Spacing Variables */

  --global-spacing-md: 1.5rem;
  --global-spacing-lg: 2rem;

  /* Color Variables */

  --primary-color: #95f0ea;
  --secondary-color: #67e8f9;
  --background-color: #020617;

  --global-text-color: #ecfbfcd3;
  --global-text-color--white: #fff;

  --global-surface-glass: #18363c99;
  --global-surface-border: #87fcf2;
  --global-accent-glow: #4ade80;

  /* Font Variables */

  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================================
   2. PAGE LAYOUT (The Skeleton)
   ========================================= */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--global-text-color);
  min-height: 100vh;
  font-family: var(--font-family);
}

/* =========================================
   3. SECTION LAYOUTS (The Grid)
   ========================================= */

.projects__container {
  max-width: 1440px;
  grid-area: main;
  margin: 0 auto;
  padding: 2rem;
}

/* =========================================
   4. UTILITY CLASSES
   ========================================= */

.decor--square-cluster {
  position: absolute;
  /* Use a variable so we can easily change color later */
  --pixel-color: var(--global-accent-glow);

  background: var(--pixel-color);
  box-shadow: 0 0 10px var(--pixel-color);
  pointer-events: none;
}

.decor--square-cluster:nth-child(3n) {
  background: transparent;
  border: 1.5px solid var(--pixel-color);
  box-shadow: none;
}
